body{
    margin:0;
    padding: 0;
}


.container{
    margin: 100px auto;
    height: 20px;
    width: 70px;
    border: 2px solid black;
    border-radius: 15% 15% 15% 15%;
}

.circle{
    height: inherit;
    background-color: black;
    border-radius: 50%;
    width: 20px;
}

h1{
    text-align: center;
}